.container.main
  %hr
  %div.timeline-title My Apps
  %div.row.justify-content-center
    %div.col-12.col-sm-6.col-lg-4.app-container
      %div.app-image
        = image_tag("apps/reactblogger.png", alt: "reactblogger", class: "apps-icon")
      %div.store
        %a{href: "https://play.google.com/store/apps/details?id=com.reactblogger&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
          %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", class: "google-icon"}
        %a{href: "https://itunes.apple.com/us/app/reactblogger/id1447077887?ls=1&mt=8"}
          = image_tag("apps/appstore.svg", alt: "Download on the App Store", class: "appstore-icon")
      %label
        %h3 ReactBlogger
    %div.col-12.col-sm-6.col-lg-4.app-container
      %div.app-image
        = image_tag("apps/rndraw.png", alt: "rndraw", class: "apps-icon")
      %div.store
        %a{href: "https://play.google.com/store/apps/details?id=com.rndraw&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
          %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", class: "google-icon"}
      %label
        %h3 RNDraw
    %div.col-12.col-sm-6.col-lg-4.app-container
      %div.app-image
        = image_tag("apps/rntodoapp.png", alt: "rntodoapp", class: "apps-icon")
      %div.store
        %a{href: "https://play.google.com/store/apps/details?id=com.rntodoapp&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
          %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", class: "google-icon"}
      %label
        %h3 RNTodoApp
  %hr
  %div.timeline-title My Games
  %div.row.justify-content-center
    %div.col-12.col-sm-6.col-lg-4.app-container
      %div.app-image
        = image_tag("apps/bearsweeper.png", alt: "bearsweeper", class: "apps-icon")
      %div.store
        %a{href: "https://play.google.com/store/apps/details?id=com.bearsweeper&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
          %img{alt: "Get it on Google Play", src: "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png", class: "google-icon"}
        %a{href: "https://itunes.apple.com/us/app/bearsweeper/id1447809603?ls=1&mt=8"}
          = image_tag("apps/appstore.svg", alt: "Download on the App Store", class: "appstore-icon")
      %label
        %h3 BearSweeper
  %hr
  %div.footer
    ©
    = Time.current.year
    Chiew Carol
