.container.main
  %hr
  %div.header.row.justify-content-center
    %div.col-11.col-sm-10.col-md-9
      %h1 Chiew Carol
      %h7 I code for a living & brought my bear
      = image_tag("bear.png", alt: "bear", class: "inline-icon")
      %h7 to travel the world
      %br
      %h7 have the undefeated spirit when comes to problem solving
      %br
      %h7 and also super power in debugging :p
      %div.social.row.justify-content-center
        %a.social-link{href: 'https://fb.me/kyaroru.cc'}
          = image_tag("facebook.jpg", alt: "facebook", class: "social-icon")
        %a.social-link{href: 'https://www.instagram.com/kyaroru.cc'}
          = image_tag("instagram.jpg", alt: "instagram", class: "social-icon")
        %a.social-link{href: 'https://www.github.com/kyaroru'}
          = image_tag("github.png", alt: "github", class: "social-icon")
        %a.social-link{href: 'https://www.linkedin.com/in/kyaroru'}
          = image_tag("linkedin.jpg", alt: "linkedin", class: "social-icon")
        %a.social-link{href: 'skype:live:kyaroru_1?chat'}
          = image_tag("skype.jpg", alt: "skype", class: "social-icon")
      %div.email
        %a{href: 'mailto:kyaroru@outlook.com'}
          %h5 kyaroru@outlook.com
    %div.profile.col-10.col-sm-7.col-md-3
      = image_tag("carol.jpg", alt: "It's me", class: "profile-img")
  %hr
  %div.content
    %div.timeline-title#experience Experience
    %div.timeline-container
      %ul.timeline
        %li
          .direction-l
            .flag-wrapper
              %span.flag Lead Software Engineer
              %span.tag-wrapper
                %span.time 2018/11 - present
              %a.tag-wrapper.up{href: 'https://www.surialabs.com/'}
                %span.company Suria Labs
                = image_tag("surialabs.png", alt: "surialabs", class: "inline-icon")
            .desc
              Responsible for keeping the client happy & satisfied,
              Lead & guide the junior developer,
              Perform Code Reviews for other members of the team,
              Come up with my own set of boilerplate to kickstart new project in the company :p
        %li
          .direction-r
            .flag-wrapper
              %span.flag Software Engineer
              %span.tag-wrapper
                %span.time 2017/04 - 2018/10
              %a.tag-wrapper.up{href: 'https://www.surialabs.com/'}
                %span.company Suria Labs
                = image_tag("surialabs.png", alt: "surialabs", class: "inline-icon")
            .desc
              Optimise & improve existing code base (for project that exist before I join),
              Setup new React Native/React project from scratch,
              Automate app submission process to the Google Play/App Store,
              Keep track of app releases' changelog,
              Assist in onboarding of new staff! :p
        %li
          .direction-l
            .flag-wrapper
              %span.flag IT Specialist
              %span.tag-wrapper
                %span.time 2015/10 - 2017/03
              %a.tag-wrapper.up{href: 'http://www.ifastcorp.com/'}
                %span.company iFAST
                = image_tag("ifast.png", alt: "ifast", class: "inline-icon")
            .desc
              Revamp of native mobile app homepage using Ionic Framework,
              Assist in development of internal China mobile app using Ionic,
              Involved in writing React Native module and integrate into existing Native app,
              Research & implement better approach for deploying app (eg. automation),
              Conduct Training Session for Team member :p
        %li
          .direction-r
            .flag-wrapper
              %span.flag Product Intern
              %span.tag-wrapper
                %span.time 2015/04 - 2015/09
              %a.tag-wrapper.up{href: 'https://www.jobstreet.com.my/'}
                %span.company Jobstreet
                = image_tag("jobstreet.png", alt: "jobstreet", class: "inline-icon")
            .desc
              Modify the static pages of JobStreet website into responsive web design,
              Contribute to the UI Library of Jobstreet,
              Assist in web development of SiVA Recruitment Center ,
              Involved in agile team and scrum meetings :p
    %div.timeline-title#experience Education
    %div.timeline-container
      %ul.timeline
        %li
          .direction-r
            .flag-wrapper
              %span.flag Software Systems Development
              %span.tag-wrapper
                %span.time 2013-2015
              %a.tag-wrapper.up{href: 'https://www.tarc.edu.my/'}
                %span.company TAR UC
                = image_tag("tarc.png", alt: "tarc", class: "inline-icon")
            .desc
              .span Cumulative GPA (CGPA) 3.9178
              .span Awarded a Book Prize on Feb 2016
        %li
          .direction-l
            .flag-wrapper
              %span.flag Information Systems Engineering
              %span.tag-wrapper
                %span.time 2011-2013
              %a.tag-wrapper.up{href: 'https://www.tarc.edu.my/'}
                %span.company TAR UC
                = image_tag("tarc.png", alt: "tarc", class: "inline-icon")
            .desc
              .span Cumulative GPA (CGPA) 3.968
              .span Awarded a Book Prize on Sep 2013
              .span President List Awards for 4 Semester out of 5

    %div.timeline-title#experience Skills
    %div.timeline-container
      .left
        %div.skills-bar-container
          %a{href: 'https://facebook.github.io/react-native/'}
            %label React Native
            = image_tag("react.png", alt: "react-native", class: "inline-icon")
            %li
              %span.progress.progressbar.ninety
          %a{href: 'https://rubyonrails.org/'}
            %label Ruby on Rails
            = image_tag("rails.png", alt: "rails", class: "inline-icon")
            %li
              %span.progress.progressbar.thirty
          %a{href: 'https://www.w3schools.com/html/'}
            %label HTML
            %li
              %span.progress.progressbar.hundred
      .right
        %div.skills-bar-container
          %a{href: 'https://reactjs.org/'}
            %label React JS
            = image_tag("react.png", alt: "react", class: "inline-icon")
            %li
              %span.progress.progressbar.eighty
          %a{href: 'http://haml.info/'}
            %label HAML
            = image_tag("haml.png", alt: "haml", class: "inline-icon")
            %li
              %span.progress.progressbar.fifty
          %a{href: 'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3'}
            %label CSS3
            %li
              %span.progress.progressbar.hundred
    %div.timeline-title#experience Languages
    %div.timeline-container
      %div.skills-bar-container
        %label English
        %li
          %span.progress.progressbar.eighty
        %label Mandarin
        %li
          %span.progress.progressbar.hundred
        %label Bahasa Malaysia
        %li
          %span.progress.progressbar.eighty
  %hr
  %div.footer
    ©
    = Time.current.year
    Chiew Carol
